@use 'variables';
@use 'mixins';

.modal-navbar{
    &__background{
        @include mixins.modal-background;
    }
    background-color: variables.$White;
    width: 250px;
    height: 100%;
    padding: 28px 24px;
    display: block;
    &__items{
        //border: 1px solid red;
        display: flex;
        flex-direction: column;
        height: 200px;
        justify-content: space-between;
        list-style: none;
        margin-top: 50px;
    }
    &__link{
        text-decoration: none;
        color: variables.$Very-dark-blue;
        font-weight: 700;
        font-size: 1.1em;

    }
    &__close-icon:hover{
        cursor: pointer;

    }

    
}